

#nav_section {
    position: absolute;
    top: 5vh;
    display: inline-block;
}

#navi {
    display: block;
    width: 17vw;
    height: 95vh;
    /* background-color: #edede9; */
    background-color: #DCDCDC;
    float: left;
    border-right: 1px solid white;
}

#navi .letter_space:first-child {
    cursor: pointer;
    border-top: 0px solid white;
}

#navi .letter_space {
    width: 100%;
    height: 7vh;
    border: 1px solid white;
    /* background-color: #c4c4c4; */
    background-color: #DCDCDC;
}

#navi .letter_space:first-child {
    border-top: 1px solid white;
}

#navi .letter_space p {
    text-align: center;
    line-height: 7vh;
    font-size: 20px;
    font-weight: bold;
}

#page_section {
    display: block;
    padding-left: 19vw;
    width: calc(80vw - 1px);
    height: 60vh;
    
}

#contents {
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
    
}

#contents p {
    font-size: 20px;
    font-weight: bold;
}

#contents input {
    text-align: center;
    width: 30%;
    padding: 10px 0;
    border: 2px solid #DBDBDB;
    border-radius: 3%;
    margin-top: 8px;
    margin-bottom: 12px;
}

#contents button {
    width: 30%;
    padding: 8px 0;
    background-color: #0098F4;
    color: white;
    border: none;
    border-radius: 5%;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#carList li .selected {
    border: 1px solid red;
}